.imgContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titleContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 2px solid lightblue;
    border-right: 2px solid lightblue;
    border-left: 2px solid lightblue;
    width: 400px;
    text-align: center;
    box-shadow: 4px 4px 5px rgb(65, 117, 150);
    transition: all 300ms;
}

h1:hover {
    transform: scale(1.05);
}

img {
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all 1s;
}

img:hover {
    transform: scale(1.1);
}